<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <ul class="navbar-nav">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        ToDo: User Menu
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>Mi Perfil</li>
        <li>Cambiar Password</li>
        <li>Cerrar Sesión</li>
      </ul>
    </li>
  </ul>
</div>
