<h1> <%= t('.title', name: @product.name) %> </h1>

<%#=  t('.title', name: link_to(@product.name, @product)) %>
<%#= raw t('.title', name: link_to(@product.name, @product)) %>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
